<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form action="#" th:action="@{/login}" th:object="${user}" method="post" name="registration" id="registration" class="form_content">
    <label for="name">Имя:</label> <br>
    <input  th:field="*{username}"  type="text" name="name" id="name" required autofocus placeholder="Отображаемое имя">
    <label for="password">Пароль:</label> <br>
    <input  th:field="*{password}"  type="password" id="password"  required autofocus placeholder="Пароль">
    <input type="submit" value="Login"/>
</form>
</body>
</html>